body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.logo {
  padding: 40px 0;
  padding-left: 44px;
  position: relative;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  top: 56%;
  left: 8px;
  background: #C8DBFB;
  opacity: .7;
}

.logo__name {
  font: bold 24px/32px 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  color: #000;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  font: 500 18px/21px Roboto, Arial, Helvetica, sans-serif;
  margin-right: 26px;
  color: #000;
  text-decoration: none;
  position: relative;
  transition: width .5s;
}

.menu__item:after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  background: #0056EC;
  left: 0;
  transition: width .7s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover:after {
  width: 100%;
}

.main {
  padding: 0 63% 250px 0;
  background: top right no-repeat url(img/bg.svg);
}

.main__title {
  font: bold 66px/87px 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  margin: 0 0 40px 0;
}

.main__title-text_hightlight {
  background: linear-gradient(180deg,rgba(255,255,255,1) 15%, #ECF3FF 15%);
}

.main__description {
  font: 400 22px/26px Roboto, Arial, Helvetica, sans-serif;
  width: 81%;
  margin: 0 0 40px 0;
}

.main__btn {
  font: 500 18px/21px Roboto, Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 14px 16px;
  color: #fff;
  background: #0056EC;
  border-radius: 4px;
  transition: .5s;
}

.main__btn:hover {
  opacity: .5;
}